/*------------ USED ACROSS THE SITE ------------*/
@import url('https://fonts.googleapis.com/css?family=Marcellus:100,200,300,400,500,600,700&display=swap|Muli:100,200,300,400,500,600,700&display=swap');

body,html{
    height:100%;
}

.frame {
    padding-bottom: 20px;
}

h1 {
    font-family: "Marcellus", serif;
    font-weight: 700;
    text-align: center;
    font-size: 34px;
    color: rgb(255, 32, 68); 
}

h2 {
    font-family: "Marcellus", serif;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
    color: rgb(57, 34, 75);
}

h3 {
    font-family: "Muli", sans-serif;
    font-size: 21px;
    font-weight: 400;
    color: rgb(57, 34, 75);
}

/*------------ HEADER ------------*/
header {
    display: flex;
}

.float-right {
    float: right;
}

#wrapper {
    background: url("../images/wineCountry.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* credit: code to align and size navbar taken from https://stackoverflow.com/questions/53171559/navbar-smaller-than-navbar-brand and edited slightly do fit project needs */
.navbar {
    width: 100%; 
    white-space: nowrap; 
    background: rgba(0, 202, 43, 0.5);
} 

.nav-link {
    color: #222222;
    font-size: 20px;
    line-height: 22px;
    font-family: "Muli", sans-serif;
}

.nav-item {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-nav > .active > a { 
    font-weight: 800;  
    text-decoration: underline; 
}

.navbar-nav a:hover {
   text-decoration: underline; 
   color: #222222;
}


/*------------ FOOTER ------------*/
.footer {
    width: 100%;
    color: #222222;
    font-size: 12px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    text-align: center;
    position: relative;
}

/* credit: code to center text taken from https://www.w3schools.com/css/css_align.asp */
.footer p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.designby {
    text-decoration: underline;
    color: #222222;
}

p a:hover {
   font-weight: 800; 
   color: #222222;
}


/*------------ LANDING PAGE ------------*/
#certlogo {
    width: 100vw;
    margin-top: 10vw;
}

.textbox {
   margin: 5vh 5vw;
   padding: 1vh .05vh;
   background-color: rgba(0, 0, 0, 0.6);
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -o-border-radius: 10px;
}

.textbox a:hover {
   text-decoration: underline;
   color: rgb(255, 32, 68); 
}

#findus, #facebook p {
    font-family: "Muli", sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #FFF; 
}

#findus {
    margin-top: 12vh;
    margin-bottom: 0;
}

.fa-facebook-square {
    color: #FFF; 
    margin-top: 8px;
}

/*------------ GALLERY PAGE ------------*/
/*redit: code for image gallery taken from https://codepen.io/mugas/pen/gOaJeMm and edited to fit project needs*/

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #20263f;
  }
  .container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
  }
  
  img {
    border-radius: 10px;
    padding: 5px;
  }
  
  .container > div:hover {
    transform: scale(1.1);
  }
  
  .container > div:hover img {
    opacity: 0.7;
  }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}